@charset "utf-8";

/* =======================共通設定========================= */
html {
    font-size: 100%;
}
body{
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.wrapper,#wrapper{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 4%;
}
/* =======================ヘッダー========================= */


.headerimg{
    width: 100%;
    height: auto;
    margin:0 0 200px 0;
}
.headerlogo{
    position: absolute;
    top:20%;
    left:10%;
    width:70%;
}

.nabigation{
    display: flex;
    justify-content: space-between;
}
.logoo{
    width: 90px;
}

.headerul{
    display: flex;
    font-size: 1.25rem;
    list-style-type: none;
    background-color: #fff;
}
.headerul li{
    margin-left: 36px;
}
.headerul a{
    color: #432;
}
.headerul a:hover{
    color: #0bd;
}

/* =======================Aboutme========================= */

.amflex{
    display: flex;
    justify-content: space-between;
}
.kao{
    width: 400px;
    height: auto;
}
.textbox{
    text-align: center;
}
.p1{
    width: 300px;
}

.amgrid{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}
.ambox{
    margin-right: 50px;
}
.amboximg{
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}

/* =======================Works========================= */


/* =======================Contact========================= */
label{
font-size: 1.125rem;
margin-bottom: 10px;
display: block;
}

input[type="text"],input[type="email"],input[type="tel"]{
    width: 100%;
    max-width: 240px;
    background: rgba(135, 99, 218, 0.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
textarea{
    background: rgba(135, 99, 218, 0.5);
    border: 1px #fff solid;
    padding: 10px;
    font-size: 1rem;
    max-width: 780px;
    height: 6rem;
}