@use "variables"as v;

footer {
  background-color: v.$foot-back;
  color: v.$w-font;
  padding: 2vh 0;
  font-family: YuMincho, 'Yu Mincho', serif;

  @include v.tb {
    padding: 0;
    // height: v.rem(64);
  }
}

.footer {

  &__inner {
    margin-left: 13%;
    display: flex;
    justify-content: flex-end;

    @include v.tb {
      text-align: center;
      margin-left: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__inner2 {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    opacity: .6;

    @include v.tb {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }

  // &__sns {
  //   margin-right: 12vw;
  //   opacity: .5;
  //   padding-bottom: 0.2vh;
  // }

  // &__sns1 {
  //   margin-right: 0.2vw;
  //   display: inline-block;
  //   width: 1vw;
  // }

  // &__sns2 {
  //   margin-left: 0.2vw;
  //   display: inline-block;
  //   width: 1vw;
  // }
}

.copybox {
  width: 33%;
  text-align: center;

  @include v.tb {
    width: 100%;
    margin: 0 auto 30px auto;
  }
}

small {
  display: inline-block;
  font-size: v.rem(14);

  @include v.mb {
    font-size: v.rem(10);
  }
}

.privacy {
  display: inline-block;
  font-size: v.rem(14);
  color: v.$w-font;
  margin-right: 1vw;

  @include v.tb {
    width: 100%;
    margin: 5px auto 20px auto;
  }
}