@charset "utf-8";

/* =====共通設定====== */
html {
  margin: 0 auto;
}

body {
  font-family: "Yu Mincho";
  font-weight: 500;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}


/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #999;
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/

#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1 {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 5px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(32, 28, 28);
  width: 80%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}


/*=====スライダーのためのcss=====*/
#slider {
  width: 100%;
  height: 100vh;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

h1 {
  color: #000;
}

/*=====グリーティング=====*/
#greeting {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.greeting__h2 {
  font-size: 30px;
  margin-bottom:20px;
  margin-top: 80px;
}

p .greeting__p {
  line-height: 30px;
  font-size: 16px;
}

/*=====ニュース=====*/
#news{
  text-align: center;
  margin-bottom: 100px;
}
.news__img {
  width: 80vw;
  margin-bottom: 50px;
  margin-top: 100px;
}
#news p{
  font-size: small;
}
.news__contents{
  margin: 40px 0;
  border-bottom: solid rgb(184, 179, 179) 1px;
}
.news__contents p{
  margin: 10px 0;
  text-align: left;
}
.news__h2{
  border-bottom: rgb(54, 54, 54) 1px solid;
}
.news__p{
  border: solid rgb(54, 54, 54) 1px;
  font-size: small;
  padding: 2px;
}


.events__inner p{
  writing-mode: vertical-lr;
  background-color: papayawhip;
  padding: 20%;
}