@use "variables"as v;

// 友畳会について
.about {
  margin-bottom: 15vw;
  color: v.$uw-font;

  @include v.tb {
    margin-bottom: 25vw;
  }

  @include v.mb {
    margin-bottom: 25vw;
  }


  &__top {
    background-image: url(../images/y-top.png);
    background-size: cover;
    margin-bottom: 20vw;
    height: 85vh;
    display: flex;
    justify-content: center;

    @include v.ab {
      background-image: url(../images/y-top960.png);
      background-position: center;
      margin-bottom: 30vw;
    }

    @include v.tb {
      background-image: url(../images/y-top960.png);
      background-position: center;
      margin-bottom: 30vw;
      min-height: 100vh;
    }

    @include v.mb {
      background-position: center;
      margin-bottom: 30vw;
      min-height: 100vh;
    }
  }


  &__top-title {
    font-size: 4vw;
    color: v.$w-font;
    text-shadow: 0px 7px 3px #000;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    text-orientation: upright;
    margin: auto;

    @include v.tb {
      font-size: v.rem(48);
    }

    @include v.mb {
      font-size: v.rem(48);
    }
  }


  &__title {
    background-image: url(../images/y-midashi.png);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    margin-bottom: 12vw;

    @include v.tb {
      margin-bottom: 10vw;
    }

    @include v.mb {
      background-size: cover;
      margin-bottom: 15vw;
    }
  }


  &__title h2 {
    font-size: v.rem(48);
    color: v.$w-font;

    @include v.mb {
      font-size: v.rem(32);
    }
  }


  &__image {
    margin-bottom: 233px;

    @include v.ab {
      margin-bottom: 12vw;
    }

    @include v.tb {
      margin-bottom: 8vw;
    }

    @include v.mb {
      margin-bottom: 8vw;
    }
  }


  &__image img {
    width: 100vw;
    height: auto;

    @include v.mb {
      height: 187px;
      object-fit: cover;
    }
  }


  &__feature {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto 120px auto;

    @include v.ab {
      width: 80vw;
      margin: 0 auto 10vw auto;
    }

    @include v.tb {
      width: 80vw;
      grid-template-columns: repeat(1, 1fr);
      gap: 5vw;
      margin-bottom: 10vw;
    }

    @include v.mb {
      width: 90vw;
      grid-template-columns: repeat(1, 1fr);
      gap: 8vw;
      margin-bottom: 10vw;
    }
  }


  &__feature-item {
    background-color: #E2DBB7;
    padding: 3vw 3vw 3vw 5vw;
    display: flex;
    position: relative;

    @include v.tb {
      padding: 5vw 10vw 5vw 10vw;
      margin-bottom: 0;
    }

    @include v.mb {
      padding: 10vw 15vw 10vw 20vw;
      margin-bottom: 0;
    }
  }


  &__feature-item p:first-child {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    text-orientation: upright;
    font-size: v.rem(24);
    font-weight: bold;
    position: absolute;
    left: .5vw;
    top: -2.5vw;
    display: flex;
    align-items: center;
  }


  &__feature-item span {
    font-size: v.rem(48);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #A3B894;
    width: 1.2em;
    height: 1.2em;
  }


  &__text {
    font-size: v.rem(29);
    text-align: center;
    color: v.$c-font;
    line-height: 2em;

    @include v.tb {
      font-size: v.rem(24);
      line-height: 2.5em;
    }

    @include v.mb {
      font-size: v.rem(19);
      line-height: 2.5em;
    }

    @include v.mn {
      font-size: v.rem(17);
      line-height: 2em;
    }
  }


  &__text span {
    font-weight: bold;
  }
}


// 畳へのこだわり
.detailed {
  margin-bottom: 15vw;
  color: v.$uw-font;

  @include v.tb {
    margin-bottom: 25vw;
  }

  @include v.mb {
    margin-bottom: 25vw;
  }


  &__title {
    background-image: url(../images/y-midashi.png);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    margin-bottom: 12vw;

    @include v.tb {
      margin-bottom: 10vw;
    }

    @include v.mb {
      background-size: cover;
      margin-bottom: 15vw;
    }
  }


  &__title h2 {
    font-size: v.rem(48);
    color: v.$w-font;

    @include v.mb {
      font-size: v.rem(32);
    }
  }


  &__item1 {
    position: relative;
    padding: 5vw 0;
    width: 70vw;
    margin: 0 auto;

    @include v.ab {
      padding: 3vw 0;
      width: 80vw;
    }

    @include v.tb {
      width: 80vw;
      padding: 0;
      margin-bottom: 5vw;
    }

    @include v.mb {
      width: 100vw;
      padding: 0;
      margin-bottom: 5vw;
    }
  }

  &__imgbox1 {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 400px;

    @include v.ab {
      position: absolute;
      top: 0;
      left: 5vw;
      width: 300px;
    }

    @include v.tb {
      width: 70vw;
      top: 13vw;
    }

    @include v.mb {
      width: 90vw;
      top: 30vw;
    }
  }


  &__item2 {
    position: relative;
    padding: 5vw 0;
    width: 70vw;
    margin: 0 auto;

    @include v.ab {
      padding: 3vw 0;
      width: 80vw;
    }

    @include v.tb {
      width: 80vw;
      padding: 0;
      margin-bottom: 5vw;
    }

    @include v.mb {
      width: 100vw;
      padding: 0;
      margin-bottom: 5vw;
    }
  }

  &__imgbox2 {
    width: 400px;
    position: absolute;
    top: 0;
    right: 5vw;

    @include v.ab {
      position: absolute;
      top: 0;
      right: 5vw;
      width: 300px;
    }

    @include v.tb {
      width: 70vw;
      top: 13vw;
    }

    @include v.mb {
      width: 90vw;
      top: 30vw;
    }
  }


  &__item3 {
    position: relative;
    padding: 5vw 0;
    width: 70vw;
    margin: 0 auto;

    @include v.ab {
      padding: 3vw 0;
      width: 80vw;
    }

    @include v.tb {
      width: 80vw;
      padding: 0;
      margin-bottom: 5vw;
    }

    @include v.mb {
      width: 100vw;
      padding: 0;
      margin-bottom: 5vw;
    }
  }

  &__imgbox3 {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 400px;

    @include v.ab {
      position: absolute;
      top: 0;
      left: 5vw;
      width: 300px;
    }

    @include v.tb {
      width: 70vw;
      top: 13vw;
    }

    @include v.mb {
      width: 90vw;
      top: 30vw;
    }
  }


  &__bgc {
    background-color: rgba(#256316, .25);
  }


  &__inner {
    max-width: 60vw;
    margin: 0 auto;

    @include v.ab {
      max-width: 70vw;
    }

    @include v.tb {
      max-width: 80vw;
    }

    @include v.mb {
      max-width: 90vw;
    }
  }


  &__inner dl {
    width: 33vw;
    padding: .5vw 0 1vw 0;

    @include v.ab {
      width: 38vw;
    }

    @include v.tb {
      width: 70vw;
      padding: 5vw 0;
      margin: 0 auto;
    }

    @include v.mb {
      width: 90vw;
      padding: 10vw 0;
    }
  }


  &__textright {
    margin-left: auto;

    @include v.tb {
      margin: 0;
    }

    @include v.mb {
      margin: 0;
    }
  }


  &__inner dt {
    font-size: v.rem(32);
    font-weight: bold;

    @include v.ab {
      font-size: v.rem(24);
    }

    @include v.tb {
      text-align: center;
      margin-bottom: 5vw;
    }

    @include v.mb {
      text-align: center;
      margin-bottom: 10vw;
    }
  }


  &__inner dd {
    margin-left: 1em;

    @include v.tb {
      margin-left: 0;
      margin-top: 60vw;
    }

    @include v.mb {
      margin-left: 0;
      margin-top: 85vw;
    }
  }
}


// 各店舗のご紹介
.store {
  margin-bottom: 10vw;
  color: v.$uw-font;

  @include v.tb {
    margin-bottom: 25vw;
  }

  @include v.mb {
    margin-bottom: 30vw;
  }


  &__title {
    background-image: url(../images/y-midashi.png);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    margin-bottom: 12vw;

    @include v.tb {
      margin-bottom: 10vw;
    }

    @include v.mb {
      background-size: cover;
      margin-bottom: 15vw;
    }
  }


  &__title h2 {
    font-size: v.rem(48);
    color: v.$w-font;

    @include v.mb {
      font-size: v.rem(32);
    }
  }


  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    margin: 0 auto;

    @include v.ab {
      width: 80vw;
    }

    @include v.tb {
      grid-template-columns: repeat(1, 1fr);
      width: 80vw;
    }

    @include v.mb {
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
    }
  }


  &__item {
    width: 30vw;
    height: 30vw;
    padding: 1.5vw 1.8vw 6vw 1.8vw;

    @include v.ab {
      width: 40vw;
      height: 40vw;
    }

    @include v.tb {
      width: 80vw;
      height: 80vw;
      padding: 5vw 5vw 10vw 5vw;
    }

    @include v.mb {
      width: 100vw;
      height: 100vw;
      padding: 5vw 5vw 10vw 5vw;
    }
  }

  &__item:first-child,
  &__item:last-child {
    background-color: #E2DBB7;
    background-image: url(../images/y-futig.png);
    background-size: 22%;
    background-position: 3vw 15vw;

    @include v.ab {
      background-position: 3vw 20vw;
    }
  }

  &__item:nth-child(2),
  &__item:nth-child(3) {
    background-color: #A3B894;
    background-image: url(../images/y-futib.png);
    background-size: 22%;
    background-position: 3vw 15vw;

    @include v.ab {
      background-position: 3vw 20vw;
    }
  }

  &__item:nth-child(odd) {
    @include v.tb {
      background-color: #A3B894;
      background-image: url(../images/y-futib.png);
      background-size: 22%;
      background-position: 12vw 41vw;
    }

    @include v.mb {
      background-color: #A3B894;
      background-image: url(../images/y-futib.png);
      background-size: 22%;
      background-position: 8vw 51vw;
    }
  }

  &__item:nth-child(even) {
    @include v.tb {
      background-color: #E2DBB7;
      background-image: url(../images/y-futig.png);
      background-size: 22%;
      background-position: 12vw 41vw;
    }

    @include v.mb {
      background-color: #E2DBB7;
      background-image: url(../images/y-futig.png);
      background-size: 22%;
      background-position: 8vw 51vw;
    }
  }


  &__image {
    margin-bottom: 3vw;

    @include v.tb {
      margin-bottom: 8vw;
      width: 100%;
    }

    @include v.mb {
      margin-bottom: 8vw;
    }
  }


  &__name {
    font-size: v.rem(24);
    font-weight: bold;
    margin-bottom: 1vw;
    margin-left: 8vw;

    @include v.ab {
      font-size: 2vw;
      margin-left: 45%;
    }

    @include v.tb {
      margin-bottom: 2.5vw;
      font-size: 3.5vw;
    }

    @include v.mb {
      margin-bottom: 3vw;
      margin-left: 30vw;
      font-size: v.rem(22);
    }

    @include v.mn {
      font-size: v.rem(18);
    }
  }


  &__textbox {
    margin-left: 11vw;

    @include v.ab {
      font-size: 1.3vw;
      margin-left: 45%;
    }

    @include v.tb {
      font-size: 2.5vw;
    }

    @include v.mb {
      font-size: 3vw;
      margin-left: 30vw;
    }

    @include v.mn {
      font-size: 1vw;
    }
  }


  &__tel,
  &__hp,
  &__map {
    border-bottom: 1px solid;
    display: inline;
  }

  &__tel:hover,
  &__hp:hover,
  &__map:hover {
    opacity: .7;
  }
}