@use "variables"as v;

// タイトル
.events {

  &__main {
    overflow: hidden;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
  }

  &__top {
    background-image: url(../images/e-top.jpg);
    background-size: cover;
    margin-bottom: 20vw;
    height: 85vh;
    display: flex;
    justify-content: center;

    @include v.ab {
      background-image: url(../images/e-top960.jpg);
      background-position: center;
      margin-bottom: 30vw;
    }

    @include v.tb {
      background-image: url(../images/e-top960.jpg);
      background-position: center;
      margin-bottom: 30vw;
      min-height: 100vh;
    }

    @include v.mb {
      background-image: url(../images/e-top960.jpg);
      background-position: center;
      margin-bottom: 30vw;
      min-height: 100vh;
    }
  }


  &__title {
    font-size: 4vw;
    color: v.$w-font;
    text-shadow: 0px 7px 3px #000;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    text-orientation: upright;
    margin: auto;

    @include v.tb {
      font-size: v.rem(48);
    }

    @include v.mb {
      font-size: v.rem(48);
    }
  }
}

// 作って楽しむ日本の伝統
.craft {

  &__title {
    background-image: url(../images/e-midashi.png);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    margin-bottom: 104px;
  }

  &__title h2 {
    font-size: v.rem(48);
    color: v.$w-font;

    @include v.mb {
      font-size: v.rem(32);
    }
  }

}

// 出張授業,地域イベント,工芸品の展示h3
.tate-title {
  writing-mode: vertical-rl;
  padding: 1%;
  letter-spacing: v.rem(15);

  @include v.mb {
    writing-mode: horizontal-tb;
    // text-align: center;

  }
}

.h3big {
  font-size: v.rem(48);
}

// 出張授業,地域イベント共通

.craft {

  &__lesson,
  &__area {
    display: flex;
    justify-content: space-around;
  }

  &__lesson {
    background-image: url(../images/e-bgi1.png);
    background-size: 100%;
    background-position-y: 5vw;
    padding-bottom: 15vw;
    position: relative;

    @include v.tb {
      display: flex;
      justify-content: center;
    }

    @include v.mb {
      display: flex;
      flex-direction: column-reverse;
      background-image: none;
    }
  }

  &__area {
    background-image: url(../images/e-bgi2.png);
    padding-top: 10vw;
    background-size: 100%;
    background-position-y: 5vw;
    padding-bottom: 10vw;

    @include v.tb {
      display: flex;
      justify-content: space-evenly;
    }

    @include v.mb {
      display: flex;
      flex-direction: column;
      background-image: none;
    }
  }
}

// 出張授業
.lesson {
  &__text {
    writing-mode: vertical-rl;

    @include v.tb {
      margin-left: 2vw;
    }

    @include v.mb {
      writing-mode: horizontal-tb;
      padding-left: v.rem(15);
      padding-right: v.rem(15);
      padding-top: v.rem(20);
    }
  }

  &__text-nam {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
  }

  &__imgbox {
    width: 60%;

    @include v.mb {
      width: 100%
    }
  }

  &__textbox h3 {
    background-image: url(../images/e-h3maru1.png);
    background-size: 75%;
    background-position: v.rem(10) v.rem(15);
    padding-top: v.rem(20);

    @include v.mb {
      background-size: 13%;
      background-position: v.rem(3) v.rem(15);
      padding-top: 0;
    }

    // @include v.mb {
    //   writing-mode: lr-tb;//test
    // }
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 20%;
    // margin-right: 5vw;
    // & span {
    //   // text-combine-upright: all;
    // }

    @include v.tb {
      margin-right: 0;
    }

    @include v.mb {
      background-image: url(../images/e-bgi1.png);
      background-size: cover;
      width: 100%;
      display: block;
      padding-left: v.rem(15);
      padding-right: v.rem(15);
      padding-bottom: 2vw;
      padding-top: v.rem(30);
      margin-bottom: 10vw;
      height: 400px;
    }

    // @include v.mb {
    //   display: block;
    //   align-items: flex-start;
    //   padding-bottom: 2vw;
    //   margin-bottom: 10vw;
    // }

    // &__textbox2 {
    //   display: flex;
    //   justify-content: center;
    // }

  }

  &__subtb {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3vw;

    @include v.mb {
      // display: block;//test
      padding-top: 25vw;
      display: block;
      padding: 0;
    }
  }
}

// 地域イベント
.area {
  &__text {
    writing-mode: vertical-rl;

    @include v.mb {
      writing-mode: horizontal-tb;
      padding-left: v.rem(15);
      padding-right: v.rem(15);
      padding-top: v.rem(20);
    }
  }

  &__imgbox {
    width: 60%;

    @include v.mb {
      width: 100%
    }
  }

  // // &__textbox2 {
  // //   display: flex;
  // //   justify-content: center;

  //   @include v.mb {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }

  &__textbox h3 {
    background-image: url(../images/e-h3maru2.png);
    background-size: 75%;
    background-position: v.rem(10) v.rem(15);
    padding-top: v.rem(20);

    @include v.mb {
      background-size: 13%;
      background-position: v.rem(3) v.rem(15);
      padding-top: 0;

    }
  }

  &__textbox {
    // width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin-right: 5vw;
    // & span {
    //   // text-combine-upright: all;
    // }


    @include v.mb {
      background-image: url(../images/e-bgi2.png);
      background-size: cover;
      width: 100%;
      display: block;
      padding-left: v.rem(15);
      padding-right: v.rem(15);
      padding-bottom: 2vw;
      padding-top: v.rem(30);
      margin-bottom: 10vw;
      height: 400px;

    }
  }

  &__subtb {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3vw;

    @include v.mb {
      padding-top: v.rem(20);
      display: block;
      padding: 0;
    }
  }
}

// 工芸品の展示
.tatami-items {
  padding-top: 10vw;
  margin: 0 auto;
}

.tatami-items-box {
  display: flex;
  justify-content: center;
  margin-bottom: 8vw;

  @include v.mb {
    display: flex;
    flex-direction: column;
  }
}

.tatami-items h3 {
  text-align: center;
  background-size: 30%;
  background-position: v.rem(8) v.rem(12);
  padding-left: v.rem(10);
}

.items__title {
  display: flex;
  align-items: center;

  @include v.mb {
    margin: 0 auto;
  }
}

.items__title h3 {
  background-image: url(../images/e-h3maru3.png);
}

.items__textbox {
  margin-left: 2vw;

  @include v.mb {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 5vw;
  }
}

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 0 10px;
  /*スライド左右の余白調整*/
}

// 末文
.matsubun {
  padding-top: 10vw;
}

.matsubunbox {
  width: 50vw;
  background-color: rgba(172, 190, 64, 0.5);
  padding: 5%;
  margin: 0 auto;

  @include v.tb {
    width: 70vw;
  }

  @include v.mb {
    width: 90%;
    margin: 20vw auto 40vw auto;
  }

}

.matsubunbox p {
  text-align: center;
  font-size: v.rem(24);
  line-height: v.rem(40);


  @include v.mb {
    font-size: v.rem(16);
    line-height: v.rem(25);
    text-align: justify;
  }
}

// お見積りボタン
.mitsumori-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;

  &:hover {
    opacity: 0.7;
  }
}

button {
  font-size: v.rem(24);
  color: v.$w-font;
  width: 22vw;
  background: v.$foot-back;
  height: 6vw;
  justify-content: center;
  align-items: center;

  @include v.mb {
    width: 80vw;
  }

  @include v.mb {
    width: 75vw;
    height: 16vw;
  }
}