@use "variables"as v;

// @include ～.mb{
// }で書き足していく


// ---------------------全ページ共通部分-----------------------
.hojin {
  &__top {
    background-image: url(../images/h-top.png);
    background-size: cover;
    margin-bottom: 20vw;
    height: 85vh;
    display: flex;
    justify-content: center;

    @include v.ab {
      background-image: url(../images/h-top960.png);
      background-position: center;
      margin-bottom: 30vw;
    }

    @include v.tb {
      background-image: url(../images/h-top960.png);
      background-position: center;
      margin-bottom: 30vw;
      min-height: 100vh;
    }

    @include v.mb {
      background-image: url(../images/h-top960.png);
      background-position: center;
      margin-bottom: 30vw;
      min-height: 100vh;
    }
  }


  &__top-title {
    font-size: 4vw;
    color: v.$w-font;
    text-shadow: 0px 7px 3px #000;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    text-orientation: upright;
    margin: auto;

    @include v.tb {
      font-size: v.rem(48);
    }

    @include v.mb {
      font-size: v.rem(48);
    }
  }


  &__title {
    background-image: url(../images/h-midashi.png);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    margin-bottom: 12vw;

    @include v.tb {
      margin-bottom: 10vw;
    }

    @include v.mb {
      background-size: cover;
      margin-bottom: 15vw;
    }
  }


  &__title h2 {
    font-size: v.rem(48);
    color: v.$w-font;

    @include v.tb{
      font-size: v.rem(32);
    }

    @include v.mb {
      font-size: v.rem(32);
    }
  }
}

// ---------------------全ページ共通部分 終わり-----------------------


// ------------共通部分---------

.hojin {
  &__wrapper {
    max-width: 80vw;
    margin: 0 auto;
    padding-bottom: v.rem(8);

    @include v.tb{
      max-width: 90vw;
    }

    // @include v.mb {
    //   max-width: 88vw;
    // }
  }



  &__h3 {
    font-size: v.rem(48);
    text-align: center;

    @include v.tb{
      font-size: v.rem(40);
    }

    @include v.mb {
      font-size: v.rem(32);
    }
  }

  &__h3_a{
    font-size: v.rem(48);
    text-align: center;
    border-bottom: 1px solid v.$c-font;

    @include v.tb{
      font-size: v.rem(40);
    }

    @include v.mb {
      font-size: v.rem(32);
    }
  }
}

// 三河～遠州
.mikawa h3 {
  border-bottom: 1px solid #000;
  font-size: v.rem(48);
  display: flex;
  justify-content: center;
  padding-bottom: v.rem(8);

  @include v.mb {
    font-size: v.rem(35);
    align-items: center;
    padding-bottom: 0;
  }
}

// // h2
// .hojin{
//   background-image: url(../images/h-midashi.png);
//   color: #fff;
//   text-align: center;
//   font-size: v.rem(48);
// }



// -----------タイトル下-----------
.subtitle {

  @include v.mb {
    width: v.rem(320);
    margin: 0 auto ;
  }

  &__box {
    width: v.rem(940);
    margin: v.rem(16) auto v.rem(160) auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include v.ab{
      width: v.rem(500);
    }

    @include v.tb{
      display: block;
      width: v.rem(500);
    }

    @include v.mb {
      width: v.rem(350);
      margin-bottom: v.rem(120);
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__box a:hover{
    opacity: 0.7;
  }

  &__box p:first-child {
    width: v.rem(250);
    color: #fff;
    background-color: v.$c-font;
    height: v.rem(48);
    border-radius: 50px;
    font-size: v.rem(24);
    text-align: center;
    padding: v.rem(5) v.rem(25);
    margin-right: v.rem(36);

    @include v.tb{
      width: v.rem(180);
      padding: v.rem(8) v.rem(20);
      margin: 0 v.rem(-36) v.rem(32) 30%;
    }

    @include v.mb {
      width: v.rem(200);
      margin: v.rem(16) auto v.rem(32) auto;
    }
  }

  &__box p:nth-child(2) {

    @include v.tb{
      width: 40vw;
      margin: 0 v.rem(-36) v.rem(32) v.rem(60);
    }

    @include v.mb {
      width: 80vw;
      margin: 0 v.rem(-50) v.rem(50) v.rem(25);
    }
  }

}



.omakase {
  margin-bottom: v.rem(24);

  @include v.mb {
    width: v.rem(32*8);
    margin: 0 auto v.rem(32) auto;
    text-align: center;

  }
}

.mikawa,
.omakase {
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.mikawa p,
.omakase p {
  font-size: v.rem(48);
  margin-top: 0.5rem;

  @include v.mb {
    font-size: v.rem(32);
  }
}

.mikawa p {
  @include v.mb {
    align-items: center;
  }
}

.subtitle__box {
  @include v.mb {
    margin: 0;
    display: block;
  }
}



// -----------友畳会が魅せる職人の技-----------
.waza {
  &__box {
    display: flex;
    position: relative;
    padding-top: 4px;
    margin-bottom: v.rem(200);
    justify-content: center;

    @include v.me{
      display: block;
    }

    @include v.mb {
      display: block;
    }
  }

  &__p-boxs {
    background: #5B9D48;
    border-radius: 50%;
    display: flex;
    width: 25vw;
    height: 25vw;
    align-items: center;
    justify-content: space-around;
    margin-right: v.rem(30);

    @include v.tb{
      width: 28vw;
      height: 28vw;
      margin-right: v.rem(15);
    }

    @include v.me{
      width: 60vw;
      height: 60vw;
      margin: v.rem(40) auto;
    }

    @include v.mb {
      width: 80vw;
      height: 80vw;
      margin: 0 0 v.rem(32) v.rem(30);
    }
  }

  &__maru {
    color: #fff;
    font-size: v.rem(40);
    text-align: center;

    @include v.tb{
      margin-top: v.rem(20);
    }

    @include v.me{
      font-size: v.rem(64);
    }
  }

  &__maru p {
    margin-top: v.rem(16);

    @include v.tb{
      margin-top: 0;
    }
  }

  &__item p {
    font-size: v.rem(16);
    
    @include v.tb{
      font-size: v.rem(14);
    }

    @include v.me{
      font-size: v.rem(24);
    }
  }

  &__item p:first-of-type {
    border-top: solid 1px #fff;
    padding-top: v.rem(20); 
    display: block;
  }

}


// -----------こまめな畳替えこそが長持ちの秘訣----------

.change {
  &__box {
    display: flex;
    justify-content: space-around;
    margin-bottom: v.rem(123);

    @include v.tb{

    }

    @include v.mb {
      display: block;
    }
  }

  &__item {
    width: 42%;
    margin-bottom: v.rem(80);

    @include v.tb{
      width: 48%;
    }

    @include v.mb {
      width: v.rem(368);
    }
  }

  &__item img {
    // 段違いになるのなんで？
    width: 100%;
    height: auto;
  }

  &__item p:first-of-type {
    font-size: 32px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  &__item p:nth-of-type(2) {
    text-align: center;
  }
}

// ------------------------施工までの流れ-------------


.nagare {
  display: flex;
  justify-content: space-around;
  margin-bottom: v.rem(200);

  @include v.tb{
    width: 88vw;
  }

  @include v.mb {
    display: block;
  }

  &__h3 {
    margin-bottom: v.rem(80);
  }

  &__box {
    margin-top: v.rem(24);
    outline: v.$c-font solid v.rem(2);
    background: #fff;
    width: v.rem(130);
    margin-left: v.rem(45);
    margin-bottom: v.rem(160);

    @include v.tb{
      margin: 0 0 0 auto;
    }

    @include v.mb {
      display: flex;
      width: 90vw;
      margin: 0 0 0 auto;
    }
  }

  &__box p {
    writing-mode: vertical-rl;
    font-size: v.rem(28);
    margin: 50% auto 50% auto;

    @include v.mb {
      font-size: v.rem(24);
      writing-mode: horizontal-tb;
      margin: auto;
    }
  }



  &__text {
    display: flex;

    @include v.mb {
      flex-direction: column-reverse;
    }
  }

  &__text p {
    @include v.mb {
      line-height: v.rem(25);
    }
  }

  &__text p+p {
    line-height: v.rem(50);

    @include v.mb {
      line-height: v.rem(25);
    }
  }

}

.box__no {
  background: v.$c-font;
  color: #fff;
  text-align: center;
  font-size: v.rem(38);

  @include v.mb {
    width: v.rem(83);
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: v.rem(20) solid v.$c-font;
  border-top: v.rem(10) solid transparent;
  border-bottom: v.rem(10) solid transparent;
  margin-top: v.rem(200);
  margin-left: 5%;

  @include v.tb{
    width: 0;
    height: 0;
    border-left: v.rem(20) solid v.$c-font;
    border-top: v.rem(10) solid transparent;
    border-bottom: v.rem(10) solid transparent;
    margin-top: v.rem(200);
    margin-left: 2%;
  }

  @include v.mb {
    width: 0;
    height: 0;
    border-left: v.rem(20) solid transparent;
    border-right: v.rem(20) solid transparent;
    border-top: v.rem(40) solid v.$c-font;
    margin-top: v.rem(30);
    margin-left: auto;
    margin-right: auto;
  }
}


// ---------------------施工事例-------------
.order__h3 {
  margin-bottom: v.rem(40);
}

// 普通施工

.underh3 {
  &__item {
    display: flex;
    justify-content: center;
    margin-top: v.rem(44);
    align-items: center;

    @include v.mb {
      display: block;
    }
  }

  &__item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: v.rem(44);
    margin-bottom: v.rem(44);
  }

}

.sekorei {
  color: #fff;
  background-color: v.$c-font;
  font-size: v.rem(24);
  padding: auto v.rem(50);
  width: v.rem(120);
  text-align: center;
  margin-right: v.rem(16);

  @include v.mb {
    padding: v.rem(8) v.rem(8);
    margin-bottom: v.rem(8);
  }
}

.restaurant__a {
  display: flex;
}

.restaurant__a p:first-child {
  font-size: v.rem(24);
  border-right: 2px solid v.$c-font;
  margin-right: v.rem(24);
  margin-top: v.rem(10);
  padding-right: v.rem(10);

  @include v.mb {
    margin-right: 0;
  }
}

.restaurant__a p:nth-child(2) {
  @include v.mb {
    margin-left: v.rem(8);
  }
}

.underh3__item2 p:first-child {
  font-size: v.rem(24);
}

.sample {
  &__box {
    display: flex;
    justify-content: space-around;
    margin-bottom: v.rem(105);

    @include v.mb {
      flex-direction: column;
    }
  }

  &__box img {
    width: 100%;
    margin-bottom: v.rem(40);
    padding-right: v.rem(20);

    @include v.tb{
      width: 98%;
      padding-right: 0;
    }

    @include v.mb {
      padding-right: 0;
    }
  }

  &__box img:nth-of-type(2){
    @include v.tb{
    padding: 0 10px;
    }
  }

}

// 特殊施工

.special__box {
  display: flex;
  justify-content: space-around;
  margin-bottom: v.rem(174);

  @include v.mb {
    flex-direction: column;
  }
}

.spcial__item {
  max-width: 100%;
  margin-top: v.rem(40);
  padding-right: v.rem(20);

  @include v.tb{
    width: 32.5%;
    padding-right: 0;
  }


  @include v.mb {
    width: 100%;
    padding-right: 0;
  }

}

.spcial__item p {
  font-size: v.rem(16);
}

// --------------対応エリア--------------

.map {
  display: flex;
  justify-content: center;

  & img {
    width: 70%;
    height: auto;

    @include v.tb{
      width: 100%;
    }

    @include v.mb {
      width: 100%;
    }
  }

}


.area {
  &__box {
    border: solid 1px v.$c-font;
    width: 65%;
    height: auto;
    text-align: center;
    margin: v.rem(80) auto;

    @include v.tb {
      width: 90%;
    }

    @include v.mb {
      width: 100%;
    }
  }

  &__box p:first-child {
    background-color: v.$c-font;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: v.rem(16);
  }

  &__box p:nth-child(2) {
    font-size: v.rem(16);
    display: flex;
    text-align: center;
    
    @include v.mb {
      font-size: v.rem(14);
    }
  }
}

.last__memo {
  font-size: v.rem(20);
  margin-top: v.rem(24);
  margin-bottom: v.rem(50);
  text-align: center;

  @include v.mb {
    font-size: v.rem(16);
  }
}

.button {
  &__dayo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  }

  &:hover {
    opacity: 0.7;
  }
}

// .button {
//   &__dayo {
//     display: flex;
//     justify-content: center;
//     margin-top: v.rem(24);
//   }
  
// }

// .bottom{
//   &__button {
//     font-size: v.rem(24);
//     color: #fff;
//     width: 25vw;
//     background: v.$foot-back;
//     height: 6vw;
//   }
// }

// .bottom__button:hover{
//   opacity: 0.7;
// }